<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<!-- Page Content -->
<th:block layout:fragment="content">
  <div class="container">
    <form>
      <input type="hidden" id="id" th:value="${#authentication.principal.user.id}">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" placeholder="Enter username" id="username"
          th:value="${#authentication.principal.user.username}" readonly>
      </div>

      <div th:if="${#strings.isEmpty(#authentication.principal.user.loginType)}" class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Enter password" id="password">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email"
          th:value="${#authentication.principal.user.email}" th:readonly="${not #strings.isEmpty(#authentication.principal.user.loginType)}">
      </div>
    </form>
    <button id="btn-update" class="btn btn-primary">회원수정완료</button>
  </div>
  <script src="/js/user/user.js" defer="true"></script>
</th:block>
</html>
