<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<!-- Page Content -->
<th:block layout:fragment="content">
  <div class="container">

    <div class="card m-2" th:each="article : ${articles}" >
      <div class="card-body">
        <h4 class="card-title" th:text="${article.title}">제목</h4>
        <a href="#" class="btn btn-primary" th:href="@{/blog/{id}(id=${article.id})}">상세 보기</a>
      </div>
    </div>
    <br>
    <ul class="pagination justify-content-center">
      <li class="page-item disabled" th:if="${articles.first}"><a class="page-link" th:href="@{?page={previous}(previous=${articles.number-1})}">Previous</a></li>
      <li class="page-item" th:unless="${articles.first}"><a class="page-link" th:href="@{?page={previous}(previous=${articles.number-1})}">Previous</a></li>
      <li class="page-item disabled"><a class="page-link" th:if="${articles.last}" th:href="@{?page={next}(next=${articles.number+1})}">Next</a></li>
      <li class="page-item"><a class="page-link" th:unless="${articles.last}" th:href="@{?page={next}(next=${articles.number+1})}">Next</a></li>
    </ul>
  </div>
</th:block>
</html>
